.answer-box {
  margin-top: 52px;
  border-radius: 12px;
  padding: 17px;
  border: 2px solid rgba(96, 102, 208, 0.7);
  width: 450px;
  height: 70px;
  color: #6066D0;
  font-size: 20px;
}
.content {
  margin-left: auto ;
  margin-right: auto ;
}
.answer-box-correct {
  margin-top: 52px;
  border-radius: 12px;
  padding: 17px;
  border: 2px solid transparent !important;
  width: 450px;
  height: 70px;
  background-color: #60BF88 !important;
  color: white !important;
  font-size: 20px;
}
.answer-box-wrong {
  margin-top: 52px;
  border-radius: 12px;
  padding: 17px;
  border: 2px solid transparent;
  width: 450px;
  height: 70px;
  background-color:  #EA8282;
  color: white;
  font-size: 20px;
}
