<div id="sect1" class="bg-image" >
    <div class="row quiz-container">
      <div class="offset-4 col-4">
        <div class="row">
          <div class="col-8">
            <h1>COUNTRY QUIZ</h1>
          </div>
          <div class="col"
          *ngIf="!gameOver">
            <img src="./../assets/images/undraw_adventure_4hum 1.svg" alt="" class="head">
          </div>
        </div>
          <div class="quiz-box">
            <div class="col">
              <div *ngIf="!gameOver; else GameResult">
                  <div *ngIf="index % 2 === 0 ; else capitalQuestion">
                    <img src="{{ flag }}" alt="" class="country-flag offset-2">
                    <h3 class="offset-2">Which country does this flag belong to? </h3>
                  </div>
                  <ng-template #capitalQuestion>
                    <h3 class="offset-2">{{ capital }} is the capital of</h3>
                  </ng-template>
                <div class="row answer-box content"
                  *ngFor="let country of this.random_countries let i = index"
                  (click)="checkAnswer(country, myAnswer)"
                  #myAnswer
                  appRendererHighlight
                  >
                    <div class="col-1">
                      {{i}}
                    </div>
                    <div class="col offset-1">
                      {{ country }}
                    </div>
                    <div class="col-1"
                    *ngIf="answerSelect &&  country === answer">
                      <span class="material-icons">
                        check_circle_outline
                      </span>
                    </div>
                </div>
                <div class="row justify-content-center"
                *ngIf="answerSelect">
                  <button class="btn btn-success btn-next" type="submit" (click)="nextQuestion()">Next</button>
                </div>
              </div>
              <ng-template #GameResult>
                <div class="row justify-content-center">
                  <img src="./../assets/images/undraw_winners_ao2o 2.svg" alt="" class="result">
                </div>
                <p class="result-heading text-center">
                  Results
                </p>
                <p class="score text-center">
                  you got {{points}} correct answers
                </p>
                <div class="row justify-content-center m-5">
                  <button class="btn btn-success btn-tryAgain" type="submit" (click)="tryAgain()" appRendererHighlight>Try Again</button>
                </div>
              </ng-template>

            </div>
          </div>
      </div>
    </div>
</div>
<!-- *ngIf="!answerSelect appRendererHighlight" -->
