<div id="sect1" class="bg-image" >
    <div class="row quiz-container">
      <div class="offset-4 col-4">
        <div class="row">
          <div class="col-8">
            <h1>COUNTRY QUIZ</h1>
          </div>
          <div class="col ">
            <img src="./../assets/images/undraw_adventure_4hum 1.svg" alt="" class="head">
          </div>
        </div>
          <div class="quiz-box">
            <div class="col">
              <h3 class="offset-2">{{ capital }} is the capital of</h3>
              <div class="row answer-box" id="content" appRendererHighlight *ngFor="let country of this.random_countries">
                <div class="col-1">
                  A
                </div>
                <div class="col offset-1">
                  {{ country }}
                </div>
              </div>
              <!-- <div class="row answer-box" id="content" appRendererHighlight *ngFor="let country from this.random_countries">
                <div class="col-1">
                  B
                </div>
                <div class="col offset-1">
                  {{randomCountryName()}}
                </div>
              </div>
              <div class="row answer-box" id="content" appRendererHighlight>
                <div class="col-1">
                  C
                </div>
                <div class="col offset-1">
                  {{ randomCountryName() }}
                </div>
              </div>
              <div class="row answer-box" id="content" appRendererHighlight>
                <div class="col-1">
                  D
                </div>
                <div class="col offset-1">
                  {{randomCountryName()}}
                </div>
              </div> -->
            </div>
          </div>
      </div>
    </div>
</div>
